/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.btn-primary {
  @apply border-2 border-blue-600 text-blue-600 font-bold py-4 rounded-2xl transition-all duration-300;
}

.btn-primary:hover {
  @apply bg-blue-600 text-white;
}

@theme {
  --color-primary: #1e40af;
  --color-bg: white;
}

.tema-verde {
  --color-primary: #166534;
  --color-bg: #f0fdf4;
}

.tema-dark {
  --color-primary: #3b82f6;
  --color-bg: #0f172a;
}