
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: rgb(46, 108, 189);
    text-align: center;
    padding: 25px;    
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 95%;
    max-width: 900px;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px rgba( 0,0,0, 0.1);
}

input, textarea {
    background-color: #fff;
    border: 1px solid rgb(46, 108, 189);
    border-radius: 6px;
    padding: 8px 20px;
    font-size: 1rem;
    margin: 1rem;
}

button{
    border-radius: 6px;
    font-size: 1rem;
    margin: 1rem;   
    background: rgba(46, 108, 189, 0.226);
    padding: 8px 20px;

}

.feed{
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

.post-card{
    background: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px rgba( 0,0,0, 0.1);
    
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-buttons{
    display: flex;
    gap: 10px;
}

h2, h3 {
    color: rgb(46, 108, 189);
}